<head>
  <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>
<body>
  <h1>{{ message }}</h1>
  <h2>{{ message2 }}</h2>

  <!-- pokemon$ est un observable -->
  <div *ngIf="pokemons$ | async as pokemon">
    <ul class="Pokemon">
      <li class="listePok">
        <div>
          <strong>Nom:</strong> {{ pokemon.name }}<br>
        </div>

       <div class="imgPoke">
         <img class="imgPoke" src="{{ pokemon.sprites.front_default }}" alt="Pokemon"/>
       </div>
       <p>
         <strong class="caract">Type:</strong><span>{{ pokemon.type }}</span><br>
         <strong class="caract">Taille:</strong><span>{{ pokemon.height }} centimères</span><br>
         <strong class="caract">Poids:</strong><span>{{ pokemon.weight }} kilogrammes</span>
       </p>
     </li>
   </ul>
 </div>

</body>

