*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pokemon Solid', sans-serif;
  color: #f7c505;
  text-shadow: #345fa7 -5px -5px 1px;
  background-image:url("../img/pokedex_ouvert.jpg");
  background-size: contain;
  letter-spacing: 3px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

.Pokemon {
  display: flex;
  flex-wrap: wrap;
}

.listePok {
  list-style-type: none;
  border: solid white;
  box-shadow: 1px 1px 20px 10px gold;
  margin: 3em;
  padding: 3em;
  border-radius: 20%;
  font-size: 1.5em;
}

.imgPoke {
  height: 10em;
  width: 10em;
}

.caract {
  padding-left: 3em;
}

.caract.vert {
  background-image: url("../img/feuille.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.caract.violet {
  background-image: url("../img/poison.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.caract.rouge {
  background-image: url("../img/feu.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.caract.blanc {
  background-image: url("../img/vol.png");
  background-repeat: no-repeat;
  background-size: contain;
}
